.cache
.venv
logs
duckdb.db
.idea

# Ignore all files in the output and excel_input_parsing/input_templates directories except .keepme
# This keeps the input/output directories in git even if they are otherwise empty
output/*
excel_input_parsing/input_templates/*
!.keepme

# Ignore PyInstaller files
dist/
build/

__pycache__
.DS_Store
