.cache
.venv
logs
duckdb.db
.idea

# Ignore all files in the output and nspm/input_templates directories except .keepme
# This keeps the input/output directories in git even if they are otherwise empty
output/*
nspm/input_templates/*
!.keepme

__pycache__
.DS_Store
